# GENERAR FICHERO COMO .env

############################
#         Traefik          #
############################
LIBRECHAT_APP_NAME=librechat
LIBRECHAT_APP_HOST=librechat.t-systems.es
LIBRECHAT_APP_ADMIN_NAME=librechat-admin-panel
LIBRECHAT_APP_ADMIN_HOST=librechat-admin.t-systems.es
LANGFUSE_APP_NAME=librechat
LANGFUSE_APP_HOST=langfuse.t-systems.es
FRONTEND_HOST=10.49.0.1
BACKEND_HOST=10.49.0.2

############################
#         Proxy            #
############################
HTTP_PROXY=http://10.0.0.1:8080
HTTPS_PROXY=http://10.0.0.1:8080
NO_PROXY=vllm,vllm-embedding,librechat,qdrant,mongodb,langfuse-web,langfuse-worker,langfuse-postgres,langfuse-clickhouse,langfuse-redis,langfuse-minio,localhost,127.0.0.1

############################
#        LibreChat         #
############################
LIBRECHAT_HOST=0.0.0.0
LIBRECHAT_PORT=3080

# Database
MONGO_URI=mongodb://10.49.0.2:27017/LibreChat

# Auth
JWT_SECRET=supersecretkey
JWT_REFRESH_SECRET=supersecretrefresh
ALLOW_EMAIL_LOGIN="true"
ALLOW_REGISTRATION="true"

NODE_OPTIONS="--max-old-space-size=4096"

# RAG
RAG_API_URL=http://10.49.0.2:9050

############################
#  LibreChat Admin Panel   #
############################
# Generar con: openssl rand -base64 32
ADMIN_PANEL_SESSION_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
SESSION_COOKIE_SECURE=false

############################
#         Langfuse         #
############################
LANGFUSE_HOST=0.0.0.0
LANGFUSE_USER_EMAIL=admin@example.com
LANGFUSE_USER=tools=admin
LANGFUSE_USER_PASSWORD=admin

LANGFUSE_PG_PASSWORD=postgres
# Generar con: openssl rand -base64 32
LANGFUSE_NEXTAUTH_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX=
# Generar con: openssl rand -base64 16
LANGFUSE_SALT=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX==
# Generar con: openssl rand -hex 32
LANGFUSE_ENCRYPTION_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

CLICKHOUSE_USER=admin
CLICKHOUSE_PASSWORD=clickhousepassword
CLICKHOUSE_DATABASE=clickhouse

MINIO_ROOT_USER=minio
MINIO_PASSWORD=miniopassword