# GENERAR FICHERO COMO .env

############################
#         Proxy            #
############################
HTTP_PROXY=http://10.0.0.1:8080
HTTPS_PROXY=http://10.0.0.1:8080
NO_PROXY=vllm,vllm-embedding,librechat,qdrant,mongodb,langfuse-web,langfuse-worker,langfuse-postgres,langfuse-clickhouse,langfuse-redis,langfuse-minio,localhost,127.0.0.1

############################
#         General          #
############################
FRONTEND_HOST=10.49.0.1
BACKEND_HOST=10.49.0.2

############################
#        LibreChat         #
############################
# Database
MONGO_INITDB_DATABASE=librechat

############################
#         Cerebro          #
############################
CEREBRO_HF_HUB_OFFLINE=1
CEREBRO_TRANSFORMERS_OFFLINE=1
CEREBRO_HF_DATASETS_OFFLINE=1

LANGFUSE_SECRET_KEY="sk-lf-XXX"
LANGFUSE_PUBLIC_KEY="pk-lf-YYY"
LANGFUSE_BASE_URL="http://10.49.0.1:3000"

############################
#         Langfuse         #
############################
LANGFUSE_PG_PASSWORD=postgres
# Generar con: openssl rand -base64 32
LANGFUSE_NEXTAUTH_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX=
# Generar con: openssl rand -base64 16
LANGFUSE_SALT=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX==
# Generar con: openssl rand -hex 32
LANGFUSE_ENCRYPTION_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

CLICKHOUSE_USER=admin
CLICKHOUSE_PASSWORD=clickhousepassword
CLICKHOUSE_DATABASE=clickhouse

MINIO_ROOT_USER=minio
MINIO_PASSWORD=miniopassword